/* SEC1 - RESPONSIVE */
@media screen and (max-width: 1230px) {
     .sec1Container1 {
          flex-wrap: wrap;
     }

     .sec1Container1 .left {
          width: 100%
     }


     .right {
          margin-top: 16px;
     }
}

@media screen and (max-width: 460px) {

     .right,
     .rgImg {
          width: 100%;
     }
}

/* SEC3 - RESPONSIVE */
@media screen and (max-width: 1000px) {
     .expPro {
          flex-direction: column;
     }

     .expPro .illExpPro {
          max-width: 100%;
     }

     .expPro .left {
          width: 100%;
          text-align: center;
     }

     .expPro .right {
          width: 100%;
     }
}

/* SEC4 - RESPONSIVE */
@media screen and (max-width: 840px) {
     .compTechniques .compTechnique {
          flex-direction: column;
     }

     .otherComp {
          width: 100%;
     }
}

/* SEC5 - Repsonsive */

@media screen and (max-width: 440px) {
     .projet {
          width: 100%;
          background-position: center;
     }
}

@media screen and (max-width: 876px) {
     .containerProjet {
          grid-template-columns: none;
     }
}

/* SEC6 - Repsonsive */

@media screen and (max-width: 476px) {
     .divers {
          grid-template-columns: none;
     }
}

/* SEC7 - RESPONSIVE */
@media screen and (max-width: 460px) {
     .containerCv .cv {
          width: 100%;
          height: unset;
     }
}

/* SEC8 - RESPONSIVE */
@media screen and (max-width: 440px) {
     .contact {
          align-items: flex-start !important;
          flex-direction: column;
          gap: 8px;
     }
}

/* NAVIGATION RESPONSIVE */
@media screen and (max-width: 840px) {
     .navigation {
          width: 32%;
     }
}

@media screen and (max-width: 545px) {
     .navigation {
          width: 48%;
     }
}

@media screen and (max-width: 460px) {
     .navigation {
          width: 54%;
     }
}

@media screen and (max-width: 375px) {
     .navigation {
          width: 64%;
     }
}