/* SEC1 - RESPONSIVE */
@media screen and (max-width: 1230px) {
     .sec1Container1 {
          flex-wrap: wrap !important;
     }

     .sec1Container1 .left {
          width: 100% !important;
     }


     .right {
          margin-top: 16px !important;
     }
}

@media screen and (max-width: 460px) {

     .right,
     .rgImg {
          width: 100% !important;
     }

     .containerCv .cv {
          width: 100% !important;
          height: unset !important;
     }

     .navigation {
          width: 54% !important;
     }
}

/* SEC3 - RESPONSIVE */
@media screen and (max-width: 1000px) {
     .expPro {
          flex-direction: column !important;
     }

     .expPro .illExpPro {
          max-width: 100% !important;
     }

     .expPro .left {
          width: 100% !important;
          text-align: center !important;
     }

     .expPro .right {
          width: 100% !important;
     }
}

/* SEC4 - RESPONSIVE */
@media screen and (max-width: 840px) {
     .compTechniques .compTechnique {
          flex-direction: column !important;
     }

     .otherComp {
          width: 100% !important;
     }

     .navigation {
          width: 32% !important;
     }
}

/* SEC5 - Repsonsive */

@media screen and (max-width: 440px) {
     .expPro {
          width: 100% !important;
     }

     .projet {
          width: 100% !important;
          background-position: center !important;
     }

     .contact {
          align-items: flex-start !important;
          flex-direction: column !important;
          gap: 8px !important;
     }
}

@media screen and (max-width: 876px) {
     .containerProjet {
          grid-template-columns: none !important;
     }
}

/* SEC6 - Repsonsive */

@media screen and (max-width: 476px) {
     .divers {
          grid-template-columns: none !important;
     }
}

@media screen and (max-width: 545px) {
     .navigation {
          width: 48% !important;
     }
}

@media screen and (max-width: 375px) {
     .navigation {
          width: 64% !important;
     }
}

@media screen and (max-width: 640px) {
     .container {
          flex-direction: column !important;
     }

     .cardBloc {
          width: 100%;
     }
}