.expProContainer {
     position: relative;
     overflow: hidden;

     &::before,
     &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 32px;
          background: linear-gradient(to right, $color-700, transparent);
          z-index: 1;
     }

     &::after {
          right: 0;
          transform: rotate(180deg);
     }

     &::before {
          left: 0;
     }

     .expPros {
          @include flex(center, 56px, row);
          transition: transform 0.5s ease-in-out;

          .expPro {
               width: 380px;
               @include card(16px);
               @include flex(flex-start, 24px, column);
               cursor: pointer;
               transform: scale(0.90);

               .expProIll {
                    width: 100%;
                    border-radius: 8px;
               }

               .expProText {
                    @include flex(center, 16px, column);

                    .expProTextTitle {
                         @include text($color-50, $sousTitre, $extrabold);
                    }

                    .expProTextDesc {
                         @include text($color-50, $paragraphe2, $regular);
                    }
               }

               .expProAction {
                    width: inherit;
                    padding: 16px 16px 0 16px;
                    border-top: 2px solid $color-50;
                    @include flex(flex-start, 8px, row);

                    .expProActionText {
                         @include text($color-50, $paragraphe2, $regular);
                    }

                    .expProActionIcon {
                         transition: transform 0.3s ease-out;
                    }
               }

               &:hover {
                    .expProAction {
                         .expProActionIcon {
                              transform: translate(8px, 0);
                         }
                    }
               }
          }
     }
}

.expProControler {
     margin-top: 32px;
     @include flex(center, 24px, row);

     .expProControlerBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
     }

     .expProControlerPoint {
          width: 8px;
          height: 8px;
          border-radius: 100px;
          background-color: $color-50;
     }
}

//-----------------------------------------------------------------
//-----------------------------------------------------------------
//-----------------------------------------------------------------