.slider-wrapper {
     overflow: hidden;
     margin: 0 64px 48px;

     .swiper-pagination-bullet {
          background: $color-50;
          height: 13px;
          width: 13px;
          opacity: 0.5;
     }

     swiper-pagination-bullet-active {
          opacity: 1;
     }

     .swiper-slide-button {
          color: $color-bg-blur;
          margin-top: -56px;
          transition: 0.2s ease;
     }

     .swiper-slide-button:hover {
          color: $color-50;
     }
}

@media (max-width: 768px) {
     .slider-wrapper {
          margin: 0 8px 40px;

          .swiper-slide-button {
               display: none;
          }
     }
}

.card-list .card-item {
     @include card(16px 24px);
     @include flex(flex-start, 24px, column);
     cursor: pointer;
     transform: scale(0.90);

     .expProIll {
          width: 100%;
          border-radius: 8px;
     }

     .expProText {
          @include flex(center, 16px, column);

          .expProTextTitle {
               @include text($color-50, $sousTitre, $extrabold);
          }

          .expProTextDesc {
               @include text($color-50, $paragraphe2, $regular);
          }
     }

     .expProAction {
          width: inherit;
          padding: 16px 16px 0 16px;
          border-top: 2px solid $color-50;
          @include flex(flex-start, 8px, row);

          .expProActionText {
               @include text($color-50, $paragraphe2, $regular);
          }

          .expProActionIcon {
               transition: transform 0.3s ease-out;
          }
     }

     &:hover {
          .expProAction {
               .expProActionIcon {
                    transform: translate(8px, 0);
               }
          }
     }
}